@import '../../styles/mixins.scss';

.second-screen {
  position: relative;
  width: 100%;
  z-index: 20;
}

.wrappShoe {
  position: relative;
  background: url('../../images/Group_3.svg') no-repeat;

  display: flex;
  justify-content: center;
  top: -58px;
  background-size: 79% 83%;
  background-position: 125px 54px;
  @include desktop() {
    top: 0;
  }
  @include tablets() {
    background-position: 85px 44px;
  }
  @include phones() {
    background-position: 36px 32px;
  }
}
.text {
  position: absolute;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  &--item1 {
    grid-column-start: 1;
    grid-row-start: 2;
  }
  &--item2 {
    grid-column-start: 3;
    grid-row-start: 1;
  }
  &--item3 {
    grid-column-start: 3;
    grid-row-start: 2;
  }
}
.imgShoe {
  position: relative;
  width: 60%;
  top: 17px;
  left: 0px;
}
