@import '../../styles/mixins.scss';

.second-screen {
  position: relative;
  width: 100%;
  height: 545px;
  z-index: 20;
  overflow: hidden;
  @include tabletsMini() {
    height: 400px;
  }
  @include phonesXl() {
    height: 470px;
  }
  @include phonesMini() {
    height: 420px;
  }
}
.content--second {
  @include phonesXl() {
    display: flex;
    flex-flow: column-reverse;
  }
}
.wrappShoe {
  position: relative;
  background: url('../../images/Group_3.svg') no-repeat;
  display: flex;
  justify-content: center;
  top: -58px;
  background-size: 79% 83%;
  background-position: 48% 48%;
  @include phonesXl() {
    background: none;
  }
  @include desktop() {
    top: 0;
  }
  @include phones() {
    background: none;
  }
}
.text {
  position: absolute;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  color: #00dfee;
  font-family: 'Roboto';
  font-size: 17px;
  font-weight: 500;
  line-height: 18px;
  @include phonesXl() {
    position: relative;
    display: flex;
    flex-flow: column;
  }
  @include phones() {
    font-size: 0.8em;
    min-height: 350px;
  }
  &--item {
    display: flex;
    span {
      height: 25px;
      background: white;
      z-index: 2;
      @include phonesXl() {
        margin-bottom: 5px;
      }
      @include phones() {
        background: none;
      }
    }
  }
  &--item__1 {
    grid-column-start: 1;
    grid-row-start: 1;
    align-items: center;
    padding: 10% 0 0 10%;
    @include phonesXl() {
      padding: 0;
    }
    @include tablets() {
      width: 60%;
    }
    @include phones() {
      grid-row-start: 2;
    }
  }
  &--item__2 {
    grid-column-start: 3;
    grid-row-start: 1;
    @include tabletsMini() {
      justify-content: center;
      grid-column-start: 2;
      grid-column-end: 4;
    }
  }
  &--item__3 {
    grid-column-start: 3;
    grid-row-start: 2;
    justify-content: flex-end;
    padding-right: 10%;
    @include tabletsMini() {
      grid-column-start: 2;
      grid-column-end: 4;
    }
    @include phones() {
      grid-row-start: 3;
    }
  }
}
.imgShoe {
  position: relative;
  width: 60%;
  top: 17px;
  left: 0px;
  @include phonesXl() {
    top: 0;
  }
}
.wrappShoe--btn {
  position: relative;
  grid-column-start: 1;
  grid-row-start: 3;
  z-index: 2;
  text-align: center;
  @include phones() {
    left: 0;
  }
  button {
    margin-top: 60px;
  }
}
