.btns--item {
  height: 40px;
  width: 166px;
  box-shadow: 0 10px 30px rgba(20, 108, 113, 0.15),
    inset 0 0 2px rgba(255, 255, 255, 0.3);
  border-radius: 25px;
  border: 1px solid #00ecf4;
  background-color: #00ecf4;
  color: white;
}
.btns--item:first-child {
  margin-right: 25px;
}
.btns--item:hover {
  transition: 0.3s;
  background-color: transparent;
  border: 1px solid #ffffff;

  cursor: pointer;
}
